@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --bg-color: #0F1923;
    --accent-color: #C9963B;
    --text-color: #F0E6D3;
    --cards-color: #252525;
    --hero-bg: rgba(0, 0, 0, 0.433);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
.no-scroll {
    overflow: hidden;
}
/* Hero Section */
header {
    background-image: url(./images/gallery-img\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--text-color);
    font-family: 'Playfair Display', 'serif';
    color: var(--text-color);
    height: 100vh;
    width: 100vw;
    position: relative;
}
.header-overlay {
    background-color: var(--hero-bg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav {
    width: 100%;
    position: sticky;
    background-color: transparent;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3rem;
    padding-left: 30px;
}
.bars {
    border: none;
    background-color: transparent;
    font-family: 'Cormorant Garamond', 'serif';
    font-size: 1.2rem;
    color: var(--text-color);
}
.bars:hover {
    cursor: pointer;
    color: var(--accent-color);
}
.nav-menu {
    background-color: var(--text-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
}
.nav-menu button, .nav-menu span {
    border: none;
    background-color: transparent;
    font-family: 'Cormorant Garamond', 'serif';
    padding: 15px 0;
    color: var(--bg-color);
    font-size: 1.2rem;
}
.nav-menu button:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
}
.nav-menu span {
    text-align: right;
    padding-right: 20px;
}
.nav-menu.active {
    left: 0;
}
.cta-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
    padding: 30px;
}
.cta-section h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
}
.cta-section h2 {
    text-align: right;
}
.cta-book-btn {
    padding: 7px 15px;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9rem;
    margin-top: 20px;
}
.cta-book-btn:hover {
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
}
/* Main Section */
main {
    background-color:cadetblue;
    height: auto;
}
.content {
    background-color: var(--bg-color);
    color: var(--accent-color);
    font-family: 'Crimson Text', 'serif';
    height: 100%;
}

/* Home Page */
/* Introduction Section */
.intro-container {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}
.intro-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.intro-heading {
    font-family: 'Playfair Display', 'serif';
    color: var(--accent-color);
}
.intro-text {
    font-size: 0.9rem;
    line-height: 1.3rem;
    width: 100%;
    text-align: right;
}
.intro-img {
    width: 100%;
    border-radius: 10px;
}
/* Highlights Section */
.highlights-container {
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}
.highlight {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 0.9rem;
}
.highlights-container i {
    font-size: 1.8rem;
}
/* Features Section */
.features-container {
    height: auto;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.feature-heading {
    font-family: 'Playfair Display', 'serif';
    color: var(--accent-color);
    width: 100%;
}
.cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.feature-card {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.feature-img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center 60%;
    border-radius: 10px;
}
.feature-text {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.9rem;
}
.see-menu-btn {
    border: 1px solid var(--accent-color);
    background-color: transparent;
    border-radius: 10px;
    padding: 8px 15px;
    color: var(--accent-color);
    font-size: 0.8rem;
    text-decoration: none;
}
.see-menu-btn:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
}
/* Form section */
.form-container {
    height: auto;
    padding: 10px 20px 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.booking-form {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border: 1px solid var(--accent-color);
}
.booking-title {
    font-family: 'Playfair Display', 'serif';
    color: var(--accent-color);
}
.input-container {
    padding: 3px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.form-label {
    font-style: italic;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 5px 0;
    border: 1px solid var(--accent-color);
    border-style: none none solid none;
    white-space: nowrap;
}
.form-input {
    border: none;
    background-color: transparent;
    height: 90%;
    padding: 0px 5px;
    flex: 1;
    color: var(--text-color);
}
.form-input:focus {
    border: 1px solid var(--text-color);
}
.date-time {
    font-family: 'Crimson Text', 'serif';
    color: var(--accent-color);
}
.book-btn {
    padding: 10px 20px;
    width: 100%;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    background-color: transparent;
}
.book-btn:hover {
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--text-color);
}

/* Menu Page */
/* Drinks Section */
.menu-container {
    /* border: 1px solid var(--text-color); */
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.drinks-food-container {
    /* border: 1px solid var(--accent-color); */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.menu-heading {
    font-family: 'Playfair Display', 'serif';
    letter-spacing: 1px;
}
.menu-cards-container {
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    width: 100%;
}
.menu-card {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 170px;
}
.menu-img {
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center 80%;
}
hr {
    width: 60%;
    border-color: var(--accent-color);
}
.menu-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Crimson Text', 'serif';
    font-size: 0.7rem;
    letter-spacing: 1px;
}


/* Footer Section */
footer {
    height: auto;
    background-color: var(--text-color);
    font-family: 'Crimson Text', 'serif';
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 50px;
}
.macro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', 'serif';
}
.info h3 {
    font-size: 1.2rem;
    margin-top: 5px;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.socials {
    font-size: 1.5rem;
    display: flex;
    gap: 10px;
}
.socials a {
    color: var(--bg-color);
    cursor: pointer;
}
.micro {
    text-align: center;
    font-size: 0.9rem;
}

@media only screen AND (min-width: 425px) {
    header {
        background-position: center 10%;
    }
    .menu-img {
        object-position: center 60%;
    }
}

@media only screen AND (min-width: 768px) {
    header {
        background-position: center 80%;
    }
    /* Home Page */
    .intro-container {
        flex-direction: row;
        align-items: center;
        padding: 50px 30px;
    }
    .intro-text {
        font-size: 1rem;
        text-align: justify;
    }
    .intro-img {
        width: 50%;
    }
    .highlights-container {
        flex-direction: row;
    }
    .feature-heading {
        width: auto;
    }
    .cards-container {
        flex-direction: row;
        gap: 15px;
    }
    .feature-card {
        height: 250px;
    }
    .feature-img {
        object-position: center 80%;
    }
    .feature-text {
        font-size: 1rem;
    }
    .booking-form {
        width: 70%;
    }
    .macro {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 30px;
        padding: 10px 20px;
    }
    /* Menu Page */
    .menu-container {
        padding: 40px;
    }
    .menu-cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 10px;
    }
    .menu-heading {
        font-size: 1.7rem;
    }
    .menu-card {
        height: 200px;
    }
    .menu-img {
        /* width: 55%; */
        object-position: center 50%;
    }
    .menu-info {
        font-size: 1rem;
    }
}

@media only screen AND (min-width: 1024px) {
    .bars {
        display: none;
    }
    nav {
        justify-content: center;
        height: 4rem;
        padding-left: 0px;
    }
    .nav-menu {
        background-color: transparent;
        position: static;
        top: 0;
        left: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .nav-menu button, .nav-menu span {
        padding: 0;
        color: var(--text-color);
        font-size: 1.2rem;
    }
    .nav-menu button:hover {
        background-color: transparent;
        color: var(--accent-color);
    }
    .nav-menu span {
        display: none;
    }
    .cta-section {
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .cta-book-btn {
        padding: 7px 20px;
        font-size: 1rem;
    }
    /* Home Page */
    .feature-card {
        height: 300px;
    }
    .feature-img {
        object-position: center 70%;
    }
    /* Menu Page */
    .menu-card {
        height: 300px;
    }
    .menu-img {
        width: 50%;
        object-position: center 50%;
    }
}